d7yRedisSentinel:
  auth:
    # plasese set the password of redis
    password: "password"
  replica:
    persistence:
      # please set the storageClass of redis
      storageClass: "" 
  master:
    persistence:
      # please set the storageClass of redis
      storageClass: "" 