seedPeer:
  metrics:
    enable: true 
  initContainer:
    image: busybox
    tag: 1.36.1
  image: dragonflyoss/dfdaemon
  tag: v2.1.34
  replicas: 3
  persistence:
    size: 1500G
  config:
    storage:
      taskExpireTime: "8760h" 
      diskGCThresholdPercent: 70
    keepStorage: true
    download:
      resourceClients:
        https:
          responseHeaderTimeout: 1000s
        http:
          responseHeaderTimeout: 1000s
      totalRateLimit: 25600Mi
      perPeerRateLimit: 12800Mi
    upload:
      rateLimit: 2048Mi
manager:
  metrics:
    enable: true
  tag: v2.1.36
  image: dragonflyoss/manager
  initContainer:
    image: busybox
    tag: 1.36.1
    pullPolicy: IfNotPresent
  replicas: 3
  service:
    type: LoadBalancer
scheduler:
  metrics:
    enable: true
  tag: v2.1.34
  image: dragonflyoss/scheduler
  replicas: 3
  initContainer:
    image: busybox
    tag: 1.36.1
  config:
    console: true
dfdaemon:
  metrics:
    enable: true
  resources:
    limits:
      cpu: "4"
      memory: "10Gi"
  initContainer:
    image: busybox
    tag: 1.36.1
    pullPolicy: IfNotPresent
  tag: v2.1.34
  image: dragonflyoss/dfdaemon
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 10 
  mountDataDirAsHostPath: true
  config:
    storage:
      diskGCThreshold: 150Gi
      taskExpireTime: "8760h" 
    keepStorage: true
    console: true
    download:
      resourceClients:
        https:
          responseHeaderTimeout: 1000s
        http:
          responseHeaderTimeout: 1000s
      totalRateLimit: 25600Mi
      perPeerRateLimit: 12800Mi
    upload:
      rateLimit: 2048Mi
containerRuntime:
  initContainerImage: dragonflyoss/openssl:2022-05-25
  registries:
    - https://registry.k8s.io
    - https://docker.io
    - https://gcr.io
    - https://ghcr.io
    - https://nvcr.io
    - https://quay.io